.border-s{
    border: 1px solid #000;
}

.rounder-s{
    border-radius: 1em;
}

.p-2{
    padding: 1em;
}

.fit-content{
    width: fit-content;
}

.flex {
    display: flex;
}

.gap-2 {
    gap: 1em;
}

.wrap {
    flex-wrap: wrap;
}

.m-auto {
    margin: auto;
}