<article class="border-s rounder-s p-4 fit-content">
  <div>

    <h2>User:</h2>
    <h3>FirstName: {{ user.firstName}}</h3>
    <h3>LastName: {{ user.lastName}}</h3>

    <h2 class="bg-red">Heading: {{heading}}</h2>
    Change the heading: <input h-bind="heading" type="text" />

    <input type="text" disabled="disabled" class="{{ margin }}">

    <input type="checkbox" h-bind="showSurname">

    <h3>Surname: {{ surname }} </h3>

    <h4>FullName: {{fullName}}</h4>



  </div>

  <p>
    This is a cool paragraph. This is a cool paragraph. This is a cool
    paragraph.
  </p>

  <Card></Card>
  <!-- <Card></Card>
</article>
