<article class="border-s rounder-s p-2 fit-content">
  <div>
    <h4>So now we will display some propertie</h4>
    <span class="bg-red">{{ heading }}</span>
  </div>
  <div>
    <span>{{ message }}</span>
  </div>
  <!-- <button>Press Me To change the message</button> -->
  <div>
    Name:
    <span>the {{ name }}</span>
  </div>
  <div>Surame: {{ surname }}</div>
  <span> </span>

  Heading by TAG:

  <heading1></heading1>
  <heading2></heading2>

  <h2>Change the surname, name and message</h2>
  <input h-bind="surname" type="text" />
  <input h-bind="name" type="text" />
  <input h-bind="message" type="text" />

  <input h-bind="file" type="file" />
  <div>The file: {{file}}</div>
</article>
